{
 496: { ‘name‘: ‘1_F_Watari_2025_SteelSankeys_30Regions‘, 
	‘all_materials‘: [‘Watari_2025_SteelSankeys_30Regions_Sankey_as_in_Paper‘]},

 485: { ‘name‘: ‘1_F_China_Sand_Gravel_MFA_2050_Scenario_REN‘, 
	‘all_materials‘: [‘China_Sand_Gravel_REN_Sankey_as_in_Paper‘,
		   	  ‘China_Sand_Gravel_REN_materials_aggregated‘]},

 501: { ‘name‘: ‘1_F_Sand_Gravel_MFA_Global_184Countries_ZHUANG_2025‘, 
	‘all_materials‘: [‘Sand_Gravel_Global_ZHUANG_2025_Sankey_as_in_Paper‘]}, 

 494: { ‘name‘: ‘1_F_Economy_wide_MFA_Global_EU27_2005_HAAS‘, 
	‘all_materials‘: [‘Economy_wide_MFA_2005_HAAS_Sankey_as_in_Paper‘]},

 495: { ‘name‘: ‘1_F_Economy_wide_MFA_EU28_2014_MAYER‘, 
	‘all_materials‘: [‘Economy_wide_MFA_2014_MAYER_Sankey_as_in_Paper‘]},

 5xx: { ‘name‘: ‘1_F_RECC_CE_EU_UK_2060_HAUENSTEIN_2026‘, 
	‘steel‘: [‘RECC_CE_Steel‘], 
	‘wood‘:  [‘RECC_CE_Wood‘]},
}
